/* || Base */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* || Calculator */

#calculator-container {
  margin: 40px auto;
  max-width: min(550px, calc(100% - 20px));
  border: 5px solid black;
  background-color: cornflowerblue;
  font-family: 'Courier New', Courier, monospace;
}

#calculator-display {
  margin: 5px;
  padding: 10px;
  text-align: right;
  font-size: 4rem;
  background-color: silver;
}

#calculator-buttons {
  display: grid;
  gap: 5px;
  padding: 5px;
  grid-template-columns: repeat(4, 1fr);
}

#calculator-buttons button {
  aspect-ratio: 1;
  padding: 5px;
  font-size: 2rem;
}

